# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl
*.tar.gz
.eggs/

# Environments
.env
.venv
env/
venv/

# Playwright
playwright-report/

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
